.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  width: 320px;
}

@media (min-width: 760px) {
  .container {
    width: 748px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1150px;
  }
}

.page-header {
  background-color: #3f51b5;
  min-height: 40px;
  margin-bottom: 40px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
}

.title {
  margin: 0;
}

.input {
  width: 100%;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.input:hover,
.input:focus {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
}

.favorite-music {
  width: 100%;
  cursor: pointer;
  min-height: 23px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}
.favorite-music:hover,
.favorite-music:focus {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
}

.favorite-number {
  cursor: pointer;
}

.wrapper-favorite-number,
.wrapper-favorite-music {
  min-height: 41px;
}

.wrapper-additional-information {
  text-align: center;
}

.favorite-number-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (min-width: 760px) {
  .form {
    width: 748px;
  }
}

@media (min-width: 1150px) {
  .form {
    width: 1150px;
  }
}

.box {
  box-sizing: border-box;
  border: 1px solid #3f51b5;
  border-radius: 5px;
}

.box--small {
  width: 320px;
}

.box--big {
  width: 100%;
}

@media (min-width: 760px) {
  .box--small {
    width: 370px;
  }

  .box--big {
    width: 748px;
  }
}

@media (min-width: 1150px) {
  .box--small {
    width: 570px;
  }

  .box--big {
    width: 1150px;
  }
}

.btn {
  color: #ffffff;
  width: 100px;
  height: 40px;
  border: 1px solid #3f51b5;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background-color: #3f51b5;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.submit {
  margin-top: 20px;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 180px;
}

.color-item {
  margin: 5px;
}

.favorite-label {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.favorite-color + .favorite-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.favorite-color + .red::before {
  background-color: #ff0000;
}

.favorite-color + .pink::before {
  background-color: #ffc0cb;
}

.favorite-color + .olive::before {
  background-color: #808000;
}

.favorite-color + .blue::before {
  background-color: #0000ff;
}

.favorite-color + .brown::before {
  background-color: #a52a2a;
}

.favorite-color + .purple::before {
  background-color: #800080;
}

.favorite-color + .violet::before {
  background-color: #ee82ee;
}

.favorite-color + .yellow::before {
  background-color: #ffff00;
}

.favorite-color + .orange::before {
  background-color: #ffa500;
}

.favorite-color + .favorite-label:hover::before,
.favorite-color + .favorite-label:focus::before {
  opacity: 0.7;
}

.favorite-color:checked + .favorite-label::before {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.8), 0 6px 10px 0 rgba(0, 0, 0, 0.48), 0 1px 18px 0 rgba(0, 0, 0, 0.44);
}

.pop-up {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 29;
  top: 0;
  left: 0;
}

.pop-up--show {
  display: block;
}

.pop-up__wrapper {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 0;
  left: 0;
}

.pop-up__content {
  position: absolute;
  top: 135px;
  width: 90%;
  max-width: 370px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 11px 20px;
  text-align: center;
  background-color: #ffffff;
  z-index: 30;
  margin: auto;
  left: 0;
  right: 0;
}

.pop-up__text {
  margin: 10px auto;
}

.page-footer {
  min-height: 40px;
  margin-top: 40px;
  background-color: #3f51b5;
  border-radius: 10px;
}
