.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
}

.form__text {
  margin: 0;
}

.form__name,
.form__surname {
  width: 100%;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form__name:hover,
.form__surname:hover,
.form__name:focus,
.form__surname:focus {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
}

.form__favorite-music {
  width: 100%;
  cursor: pointer;
  min-height: 23px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.form__favorite-music:hover,
.form__favorite-music:focus {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
}

.form__favorite-number {
  cursor: pointer;
}

.form__wrapper-favorite-number,
.form__wrapper-favorite-music {
  min-height: 41px;
}

.form__wrapper-additional-information {
  text-align: center;
}

.form__favorite-number-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (min-width: 760px) {
  .form {
    width: 748px;
  }
}

@media (min-width: 1150px) {
  .form {
    width: 1150px;
  }
}

.form__box {
  box-sizing: border-box;
  border: 1px solid #3f51b5;
  border-radius: 5px;
}

.form__box--small {
  width: 320px;
}

.form__box--big {
  width: 100%;
}

@media (min-width: 760px) {
  .form__box--small {
    width: 370px;
  }

  .form__box--big {
    width: 748px;
  }
}

@media (min-width: 1150px) {
  .form__box--small {
    width: 570px;
  }

  .form__box--big {
    width: 1150px;
  }
}

.form__favorite-color-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 180px;
}

.form__favorite-color-item {
  margin: 5px;
}

.form__favorite-label {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.form__favorite-color + .form__favorite-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.form__favorite-color + .form__favorite-label--red::before {
  background-color: #ff0000;
}

.form__favorite-color + .form__favorite-label--pink::before {
  background-color: #ffc0cb;
}

.form__favorite-color + .form__favorite-label--olive::before {
  background-color: #808000;
}

.form__favorite-color + .form__favorite-label--blue::before {
  background-color: #0000ff;
}

.form__favorite-color + .form__favorite-label--brown::before {
  background-color: #a52a2a;
}

.form__favorite-color + .form__favorite-label--purple::before {
  background-color: #800080;
}

.form__favorite-color + .form__favorite-label--violet::before {
  background-color: #ee82ee;
}

.form__favorite-color + .form__favorite-label--yellow::before {
  background-color: #ffff00;
}

.form__favorite-color + .form__favorite-label--orange::before {
  background-color: #ffa500;
}

.form__favorite-color + .form__favorite-label:hover::before,
.form__favorite-color + .form__favorite-label:focus::before {
  opacity: 0.7;
}

.form__favorite-color:checked + .form__favorite-label::before {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.8), 0 6px 10px 0 rgba(0, 0, 0, 0.48), 0 1px 18px 0 rgba(0, 0, 0, 0.44);
}
